/*
* Application Name: 10-Dollar
* Author: Jossy Jones
* GitHub: https://github.com/Jossy-Jones
* Note: This Style page is strictly for the above named application
*/

/*--------------------- Resuable Variables ----------------------*/
:root {
    --universal-color: #ffffff;
    --background-color: #f6f6f4;
    --primary-color: #297ef3;
    --secondary-color: #2dc0ff;
    --neutral-color: #e8e8e8;
    --success-color: #429f59;
    --danger-color: #f34d29;
    --line-color: #f6f6f475;
    --ads-1: #c4c4c4;
    --ads-2: #cecece;
    --max-width: 1200px;
    --min-width: 270px;
    --box-shadow: 0 0 5px 1px #297ef330;
}

/*------------------- Universal Styles ----------------------*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url('../fonts/raleway/Raleway-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    line-height: 1.3;
    box-sizing: border-box;
    outline: none;
}

body {
    background: var(--background-color);
}

/*-------------------- Application Styles ---------------------*/
#dashboard {
    background: var(--background-color);
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "header main main main"
        "header main main main"
        "header main main main"
        "header main main main";
}


/*--------------------- Aside Bar ------------------------*/
#dashboard>aside.side-bar {
    grid-area: header;
    height: 100%;
    z-index: 10;
}

aside.side-bar>._container {
    box-shadow: var(--box-shadow);
    height: inherit;
}

aside.side-bar>._container>._head {
    background: var(--primary-color);
    color: var(--universal-color);
    padding: 20px;
    width: calc(100% + 20px);
    box-shadow: var(--box-shadow);
    border-bottom-right-radius: 10px;
}

aside.side-bar>._container>._head>.logo {
    display: inline-block;
}

aside.side-bar>._container>._head>._profile {
    text-align: center;
}

aside.side-bar>._container>._head>._profile>._profile-details{
    cursor: default;
}

aside.side-bar>._container>._head>._profile>._profile-img {
    display: inline-block;
    margin: 20px auto;
    position: relative;
}

aside.side-bar>._container>._head>._profile>._profile-img>img {
    width: 100px;
    border: 5px solid var(--universal-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

aside.side-bar>._container>._head>._profile>._profile-img>span.notification {
    background: var(--universal-color);
    color: var(--primary-color);
    width: 25px;
    height: 25px;
    display: inline-flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

aside.side-bar>._container>._head>._profile>._profile-img>span.notification.ion-ios-bell::before {
    margin-left: 1px;
    /*Don't touch*/
}

aside.side-bar>._container>._head>._profile>._profile-img>span.notification::after {
    content: "";
    width: 5px;
    height: 5px;
    background: var(--secondary-color);
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

aside.side-bar>._container>._content>._nav {
    list-style: none;
    padding: 10px 20px;
}

aside.side-bar>._container>._content>._nav>li {
    padding: 10px 20px;
    margin: 10px 0;
    position: relative;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

aside.side-bar>._container>._content>._nav>li.active,
aside.side-bar>._container>._content>._nav>li:hover {
    color: var(--primary-color)
}

aside.side-bar>._container>._content>._nav>li.active::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

aside.side-bar>._container>._content>._nav>li>a {
    display: block;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

aside.side-bar>._container>._content>._nav>li>a>span {
    margin-left: 20px;
}

aside.side-bar>._container>._content>._nav>li.log-out {
    position: absolute;
    bottom: 0;
    color: var(--danger-color);
}


/*------------------------- Main ------------------------*/
#dashboard>main {
    grid-area: main;
    position: relative;
    overflow: auto;
}

header {
    background: var(--background-color);
    padding: 0 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    overflow: hidden;
    border-bottom: .5px solid var(--line-color);
    box-shadow: var(--box-shadow);
}

header ._container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
    max-width: var(--max-width);
}

header label[for="nav"] {
    display: none;
}

header .logo {
    display: none;
}

header .logo img {
    width: 75px;
    margin-left: -10px;
}

header ._actions {
    display: flex;
    gap: 20px;
}

header ._nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vmax;
}

header ._nav>._nav-list {
    list-style: none;
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

header ._nav>._nav-list>._head{
    display: none;
}

header ._nav>._nav-list>li {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    white-space: nowrap;
}

header ._nav>._nav-list>li>a {
    text-decoration: none;
    color: inherit;
}

header ._nav>._profile-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--universal-color);
    color: var(--primary-color);
    width: 150px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

header ._nav>._profile-btn>img {
    width: 30px;
    border: 1px solid var(--primary-color);
    pointer-events: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

header ._nav>._profile-btn>span {
    display: inline;
    max-width: 70%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main>.content {
    padding: 10px;
}

main>.content>._container {
    position: relative;
    padding: 0 15px;
}

main>.content .card .amount {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    gap: 3px;
}

main>.content .card .amount span {
    font-size: 12px;
}

main .panel {
    margin: 30px 0;
}


/*----------------------- Edit Pages ----------------------*/
#edit-profile, #edit-account{
    position: relative;
}
#edit-profile>._container, #edit-account>._container{
    display: block;
    width: 95%;
    max-width: 750px;
    min-height: 80vh;
    margin: 20px auto;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#edit-profile>._container>._head, #edit-account>._container>._head{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--neutral-color);
}
#edit-profile>._container>._head>span, #edit-account>._container>._head>span{
    color: var(--primary-color);
    font-size: 14px;
    cursor: pointer;
}

#edit-profile>._container>._head>span::before, #edit-account>._container>._head>span::before{
    margin-right: 5px;
}

#edit-profile form, #edit-account form{
    padding: 0;
    margin: 20px 0;
    max-width: unset;
}

#edit-profile form .profile-image, #edit-account form .license-image{
    text-align: center;
    margin: 20px 0 30px;
}

#edit-profile form .profile-image label, #edit-account form .license-image label{
    display: inline-block;
    position: relative;
}

#edit-profile form .profile-image label{
    width: 100px;
    height: 100px;
}

#edit-account form .license-image label{
    width: 150px;
    height: 100px;
}

#edit-profile form .profile-image label img, #edit-account form .license-image label img{
    width: 100%;
    height: 100%;
    border: 5px solid var(--universal-color);
}

#edit-profile form .profile-image label img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#edit-account form .license-image label img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#edit-profile form .profile-image label span, #edit-account form .license-image label span{
    position: absolute;
    color: var(--primary-color);
    display: inline-block;
    background: var(--universal-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

#edit-profile form .profile-image label span{
    bottom: 3px;
    right: 3px;
}

#edit-account form .license-image label span{
    bottom: 10px;
    right: -10px;
}

#edit-profile form>._container, #edit-account form>._container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

#edit-profile form .form-group, #edit-account form .form-group{
    margin: 0;
    background: var(--neutral-color);
    border: none;
}

#edit-profile form .form-group input, #edit-profile form .form-group select, #edit-profile form .form-group textarea, #edit-account form .form-group input, #edit-account form .form-group select, #edit-account form .form-group textarea{
    font-weight: 700;
}

#edit-profile form .form-group > label, #edit-account form .form-group > label{
    display: inline-block;
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* #edit-profile form>._container, #edit-account form>._container{
    grid-template-columns: auto;
} */

#edit-profile form>._container > *:last-child:not(:nth-child(even)){
    grid-column: auto / span 2;
}

#edit-profile form>._actions, #edit-account form>._actions{
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

/*--------------------- Punts ------------------------*/
.punts {
    position: relative;
}

.punts>._head{
    margin: 40px 0 20px;
}

.punts>._content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.punts ._card {
    background: var(--neutral-color);
    padding: 20px;
    overflow: hidden;
    border-radius:form 10px;
    -webkit-border-radius:form 10px;
    -moz-border-radius:form 10px;
    -ms-border-radius:form 10px;
    -o-border-radius:form 10px;
}

.punts ._card>._head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.punts ._card>._head ._teams-logos {
    display: inline-block;
}

.punts ._card>._head ._teams-logos>span {
    display: inline-block;
    padding: 5px;
    border: 1px solid #848484;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.punts ._card>._head ._teams-logos>span.bet {
    padding: 10px;
    border: none;
    z-index: 2;
    background: var(--background-color);
}

.punts ._card>._head ._teams-logos>span::before {
    margin: 0;
}

.punts ._card>._head ._teams-logos>span:last-child {
    margin-left: -10px;
}

.punts ._card>._head ._info {
    text-align: right;
}

.punts ._card>._head ._info>._date {
    font-size: 22px;
    font-weight: 700;
}

.punts ._card>._head ._info>._odds {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: var(--primary-color);
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.punts ._card>._content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.punts ._card>._content ._teams {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    color: #848484;
    font-weight: 500;
}

.punts ._card>._content ._teams>._bet{
    font-weight: 700;
    color: #000000;
}

.punts ._card>._content ._teams::after {
    content: "vs";
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.punts ._card>._content .odds {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: relative;
}

.punts ._card>._content .odds>._active{
    position: relative;
}

.punts ._card>._content .odds>._active::after{
    content: "";
    width: 10px;
    height: 10px;
    background: var( --primary-color);
    position: absolute;
    top: 20%;
    right: -350%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.punts ._card>._footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.punts ._card>._footer .league {
    color: #a4a4a4;
    font-weight: 700;
    font-size: 16px;
}


/*------------------------ Bet Slips ----------------------*/
#bet-slip{
    position: relative;
    padding: 5vmin;
}

#bet-slip>._head{
    margin: 0 0 20px;
    padding: 10px 0;
    border-bottom: 1px solid var(--neutral-color);
}

#bet-slip>._content>._container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}
#bet-slip ._tab{
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#bet-slip ._row{
    background: var(--neutral-color);
    overflow: hidden;
}

#bet-slip ._tab>._row._games{
    position: relative;
}

#bet-slip ._tab>._row._games>.remove{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 1.5;
    color: var(--universal-color);
    background: var(--danger-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#bet-slip ._tab>._row._games>._content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px 10px!important;
}

#bet-slip ._row>._content ._teams{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#bet-slip ._row>._content .team-logos{
    display: inline-flex;
    flex-wrap: nowrap;
}

#bet-slip ._row>._content .team-logos>span{
    display: inline-block;
    padding: 7px;
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#bet-slip ._row>._content .team-logos>span::before{
    margin: auto;
}

#bet-slip ._row>._content .team-logos>span:last-child{
    margin-left: -5px;
}

#bet-slip ._row>._content .team-names{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#bet-slip ._row>._content .team-names>span{
    font-weight: 700;
    font-size: 16px;
}

#bet-slip ._row>._content .team-names::after{
    content: "vs";
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

#bet-slip ._row>._content>._odds{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

#bet-slip ._row>._content>._odds>span._active{
    position: relative;
}

#bet-slip ._row>._content>._odds>span._active::after{
    content: "";
    width: 10px;
    height: 10px;
    background: var( --primary-color);
    position: absolute;
    top: 20%;
    right: -31px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#bet-slip ._tab>._row._games>._footer{
    padding: 0 25px 20px;
}

#bet-slip ._tab>._row._games>._footer>span{
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    color: var(--primary-color);
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#bet-slip ._tab>._actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px;
    gap: 10px;
}
#bet-slip ._tab>._actions>*:first-child{
    flex: 1;
}

/*-------------- Cards ----------------------*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.card {
    display: inline-block;
    position: relative;
    flex: 1;
    min-width: 200px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card ._content {
    margin-bottom: 30px;
}

.card .vector {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
}

.card ._footer {
    color: var(--secondary-color);
}

/* Card-Trailer */
.card-trailer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 2vmin;
    margin: auto;
    background: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-trailer>* {
    flex: 1;
    min-width: 200px;
}

.card-trailer>._head {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: var(--universal-color);
}

.card-trailer>._head .icon {
    font-size: 15vmin;
}

.card-trailer>._head .amount {
    display: flex;
    align-items: center;
    color: var(--universal-color);
    gap: 3px;
}

.card-trailer ._actions {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

/*------------------------- Miscelleneous -----------------------*/
/* Buttons */
.primary-btn {
    display: inline-block;
    background: var(--primary-color);
    color: var(--universal-color);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.secondary-btn {
    display: inline-block;
    background: var(--universal-color);
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.neutral-btn {
    display: inline-block;
    background: var(--neutral-color);
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.danger-btn {
    display: inline-block;
    background: var(--danger-color);
    color: var(--universal-color);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* Tags */
.success-tag {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    background: var(--success-color);
    color: var(--universal-color);
    width: 20px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.danger-tag {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    background: var(--danger-color);
    color: var(--universal-color);
    width: 20px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* Forms */
form {
    display: block;
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 650px;
}

form .form-group {
    display: block;
    position: relative;
    font-size: 18px;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid var(--neutral-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

form .form-group input, form .form-group select, form .form-group textarea {
    display: block;
    font-size: 18px;
    width: 100%;
    border: none;
    background: transparent;
}

form .form-group>input+label {
    background-color: var(--universal-color);
    position: absolute;
    color: #5a5a5a;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

form .form-group>input:focus+label,
form .form-group>input:valid+label {
    font-size: 12px;
    color: var(--primary-color);
    top: 0;
    padding: 5px;
}


/* Others */
.showonmobile{
    display: none;
}
.hideonmobile{
    display: block;
}


/* Media Queries */
@media only screen and (max-width: 995px) and (min-width:871px){
    header ._nav>._profile-btn {
        width: auto;
    }

    header ._nav>._profile-btn>span {
        display: none;
    }
}
@media only screen and (max-width: 870px) {
    #dashboard {
        grid-template-rows: repeat(4, minmax(150px, auto));
        grid-template-areas:
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "header header header header";
    }

    #dashboard>aside.side-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 9;
        background: var(--background-color);
}

    aside.side-bar>._container>._head {
        display: none;
    }

    /* aside.side-bar>._container{
    } */

    aside.side-bar>._container>._content>._nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 0;
    }

    aside.side-bar>._container>._content>._nav>li {
        flex: 1;
        margin: 0;
        padding: 10px 0;
        font-size: 6vmin;
        text-align: center;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
}

    aside.side-bar>._container>._content>._nav>li.active::after {
        width: 100%;
        height: 5px;
        top: 0;
        left: 0;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }

    aside.side-bar>._container>._content>._nav>li>a>span {
        display: none;
    }

    #dashboard>main {
        padding: 0 0 10px;
        margin-bottom: 11vmin;
    }

    header {
        position: sticky;
        background: var(--primary-color);
    }

    header label[for="nav"] {
        display: inline-block;
        font-size: 32px;
        color: var(--universal-color);
    }

    header .logo {
        display: inline-block;
    }

    header ._nav {
        width: auto;
    }

    header ._nav>._nav-list {
        display: block;
        position: fixed;
        top: calc(-100% - 80px);
        left: 0%;
        background: var(--primary-color);
        width: 100%;
        height: 100vh;
        padding: 20px;
        z-index: 9;
        transition: .2s ease-in;
        -webkit-transition: .2s ease-in;
        -moz-transition: .2s ease-in;
        -ms-transition: .2s ease-in;
        -o-transition: .2s ease-in;
    }

    header ._nav>._nav-list>._head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--neutral-color);
    }

    header ._nav>._nav-list>li {
        color: inherit;
    }

    header ._nav>input#nav:checked~._nav-list {
        color: var(--universal-color);
        top: 0;
    }


    ._nav>.log-out {
        display: none;
    }

    #edit-account .log-out{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    #edit-account .log-out *{
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: var(--danger-color);
        background: transparent;
        border: none;
    }

    #edit-account .log-out *::before{
        margin-right: 5px;
    }

    .showonmobile{
        display: block;
    }
    .hideonmobile{
        display: none;
    }
}

@media only screen and (max-device-width: 594px) {
    header ._nav>._profile-btn {
        width: auto;
    }

    header ._nav>._profile-btn>span {
        display: none;
    }
    #edit-profile form>._container > *:last-child:not(:nth-child(even)){
        grid-column: auto;
    }
}