<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Dollar Predict | Home</title>

    <!-- Public Assets -->
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../assets/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">

   
</head>

<body>

    <div id="app">

        <!-- header -->
        <header class="sticky">
            <div class="_container">
                <label for="nav" class="ion-navicon-round"></label>
                <div class="logo">
                    <img src="../assets/img/logo.png">
                </div>
                <div class="_nav">
                    <input type="checkbox" name="nav" id="nav" hidden>
                    <ul class="_nav-list">
                        <div class="_head">
                            <div class="logo">
                                <img src="../assets/img/logo-alt.png">
                            </div>
                            <label for="nav" class="ion-close-round"></label>
                        </div>
                        <li><a href="#">Live Feed</a></li>
                        <li><a href="#">Punters</a></li>
                        <li><a href="#">Upcoming Games</a></li>
                        <li><a href="#">Live Scores</a></li>
                    </ul>
                    <div class="_profile-btn">
                        <img src="../assets/img/pic1.png">
                        <span>John Doe kaiddakmsadlfkadjka</span>
                    </div>
                </div>
            </div>
        </header>
    
        <!-- Content -->
        <main>

            <section class="content">
                <div class="_container">
                    <div class="_ads">
    
                    </div>
    
                    <div class="_content">
                        <div class="_main">
                            <div class="_container">
                                <h2 class="_head">
                                    <span>Live Scores</span>
                                    <span class="_head-info">showing 1 - 100</span>
                                </h2>
                                <div class="tabs">
                                    <a class="active">All</a>
                                    <a>La Liga</a>
                                    <a>EPL</a>
                                    <a>Eredivise</a>
                                </div>
                                <div class="_content">
                                    <div class="liveScores">
                                        <div class="_tab1">
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_tab2">
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                            <div class="_row">
                                                <div class="teams">
                                                    <div class="_logos">
                                                        <span data-team="arsenal" data-size="30"></span>
                                                        <span data-team="chelsea" data-size="30"></span>
                                                    </div>
                                                    <div class="_names">
                                                        <span class="_home">Arsenal</span>
                                                        <span class="_away">Chelsea</span>
                                                    </div>
                                                </div>
                                                <div class="_scores">
                                                    <span class="_home">1</span>
                                                    <span class="_away">0</span>
                                                </div>
                                                <div class="time">
                                                    <span>65'</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    
        <!-- Footer -->
        <footer>
            <div class="_container">
                <div>
                    <ul class="_links">
                        <li><a href="">Responsible Gaming</a></li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                        <li><a href="">Cookie Policy</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">FAQ's</a></li>
                    </ul>
                </div>
                <hr> <hr>
                <div>
                    <p class="_notice">10 Dollar Predict is working under the 10 Dollar Limited brand and is the provider of this website, licensed by BLCB under the betting and lotteries commision of Europe and America</p>
                </div>
            </div>
        </footer>

    </div>

</body>

<!-- Scripts -->
<script type="text/javascript" src="../assets/js/main.js"></script>

</html>