<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Dollar Predict | Home</title>

    <!-- Public Assets -->
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../assets/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">

   
</head>

<body>

    <div id="app">

        <!-- header -->
        <header class="sticky">
            <div class="_container">
                <label for="nav" class="ion-navicon-round"></label>
                <div class="logo">
                    <img src="../assets/img/logo.png">
                </div>
                <div class="_nav">
                    <input type="checkbox" name="nav" id="nav" hidden>
                    <ul class="_nav-list">
                        <div class="_head">
                            <div class="logo">
                                <img src="../assets/img/logo-alt.png">
                            </div>
                            <label for="nav" class="ion-close-round"></label>
                        </div>
                        <li><a href="#">Live Feed</a></li>
                        <li><a href="#">Punters</a></li>
                        <li><a href="#">Upcoming Games</a></li>
                        <li><a href="#">Live Scores</a></li>
                    </ul>
                    <div class="_profile-btn">
                        <img src="../assets/img/pic1.png">
                        <span>John Doe kaiddakmsadlfkadjka</span>
                    </div>
                </div>
            </div>
        </header>
    
        <!-- Content -->
        <main>
            <!--  -->
            <section class="content">
                <div class="_container">
                    <div class="_ads"></div>

                    <div class="_content">
                        <div class="_main">
                            <div class="_container">
                                <h2 class="_head">Featured Punters</h2>
                                <div class="tabs">
                                    <a class="active">My Punters</a>
                                    <a>My Puntees</a>
                                </div>
                                <div class="_table punters">
                                    <div class="_table-body">
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic1.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic2.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic3.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic4.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic5.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic6.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic7.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_table-row">
                                            <div class="_details">
                                                <div class="_punter-info">
                                                    <img class="_img" src="../assets/img/pic8.png">
                                                    <div>
                                                        <div class="progress-bar">
                                                            <span class="progress-level"></span>
                                                        </div>
                                                        <span class="_name">Kenneth Ijamah</span>
                                                    </div>
                                                </div>
                                                <div class="_punter-rate">
                                                    <span class="rate">65.4%</span>
                                                    <span>120 Games</span>
                                                </div>
                                                <!-- Use ionic icons -->
                                                <div class="" style="display: none"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="_aside">
                            <div class="_container">
                                <div id="punter-info">
                                    <div class="_head">
                                        <div class="profile-img">
                                            <img src="../assets/img/pic1.png" alt="">
                                            <span class="ion-checkmark"></span>
                                        </div>
                                        <div class="profile-info">
                                            <h2 class="name">Abhishek Pramar</h2>
                                            <span class="email">abhishekpramar@email.com</span>
                                        </div>
                                    </div>
                                    <div class="_content">
                                        <div class="bio">
                                            <p>A little bio about the punter that indicates who, what and how they are</p>
                                        </div>
                                        <ul class="_extras">
                                            <li><img src="../assets/img/extra-games.svg"><span>120 Games</span></li>
                                            <li><img src="../assets/img/extra-percent.svg"><span>65.4%</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    
        <!-- Footer -->
        <footer>
            <div class="_container">
                <div>
                    <ul class="_links">
                        <li><a href="">Responsible Gaming</a></li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                        <li><a href="">Cookie Policy</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">FAQ's</a></li>
                    </ul>
                </div>
                <hr> <hr>
                <div>
                    <p class="_notice">10 Dollar Predict is working under the 10 Dollar Limited brand and is the provider of this website, licensed by BLCB under the betting and lotteries commision of Europe and America</p>
                </div>
            </div>
        </footer>

    </div>

</body>

<!-- Scripts -->
<script type="text/javascript" src="../assets/js/main.js"></script>

</html>