<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Dollar Predict | Home</title>

    <!-- Public Assets -->
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">

   
</head>

<body>

    <div id="app">

        <!-- header -->
        <header>
            <div class="_container">
                <div class="logo">
                    <img src="../assets/img/logo.png">
                </div>
        </header>
    
        <!-- Content -->
        <main>

            <section class="sign-in">
                <div class="_container">
                    <form>
                        <h2>Sign In</h2>
                        <p>Welcome back, please enter your login details</p>
                        <div class="form-group">
                            <input type="text" name="email" id="email" list="suggest" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-group">
                            <input type="password" name="pass" required>
                            <label for="pass">Password</label>
                        </div>
                        <div class="form-submit">
                            <a href="#">Forgot Password? Reset</a>
                            <input type="submit" value="Sign Up" class="primary-btn">
                        </div>
                        <div class="_others">
                            <p>Or Sign In using</p>
                            <ul class="auth">
                                <li>
                                    <a href="#" class="auth-facebook"><img src="../assets/img/auth/logo-facebook.svg"></a>
                                </li>
                                <li>
                                    <a href="#" class="auth-twitter"><img src="../assets/img/auth/logo-twitter.svg"></a>
                                </li>
                                <li>
                                    <a href="#" class="auth-google"><img src="../assets/img/auth/logo-google.svg"></a>
                                </li>
                            </ul>
                            <p class="_redirect"><a href="#">Don't have an account? Sign Up</a></p>
                        </div>
                    </form>
                </div>
            </section>

        </main>
    
        <!-- Footer -->
        <footer>
            <div class="_container">
                <div>
                    <ul class="_links">
                        <li><a href="">Responsible Gaming</a></li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                        <li><a href="">Cookie Policy</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">FAQ's</a></li>
                    </ul>
                </div>
                <hr> <hr>
                <div>
                    <p class="_notice">10 Dollar Predict is working under the 10 Dollar Limited brand and is the provider of this website, licensed by BLCB under the betting and lotteries commision of Europe and America</p>
                </div>
            </div>
        </footer>

    </div>

</body>

<!-- Scripts -->
<script type="text/javascript" src="../assets/js/main.js"></script>

</html>