<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Dollar Predict | Home</title>

    <!-- Public Assets -->
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">

   
</head>

<body>

    <div id="app">

        <!-- header -->
        <header>
            <div class="_container">
                <div class="logo">
                    <a href="_index.html">
                        <img src="../assets/img/logo.png">
                    </a>
                </div>
        </header>
    
        <!-- Content -->
        <main>

            <section class="sign-up">
                <div class="_container">
                    <form action="_index2.html" method="post">
                        <h2>Sign Up</h2>
                        <p>Please enter your details to register</p>
                        <div class="form-group">
                            <input type="text" name="fname" id="fname" required>
                            <label for="fname">First Name</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lname" id="lname" required>
                            <label for="lname">Last Name</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" id="email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-group">
                            <input type="password" name="pass" id="pass" required>
                            <label for="pass">Password</label>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Sign Up" class="primary-btn">
                        </div>
                        <div class="_others">
                            <p>or sign up using</p>
                            <ul class="auth">
                                <li>
                                    <a href="javascript:void(0)" class="auth-facebook"><img src="../assets/img/auth/logo-facebook.svg"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="auth-twitter"><img src="../assets/img/auth/logo-twitter.svg"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="auth-google"><img src="../assets/img/auth/logo-google.svg"></a>
                                </li>
                            </ul>
                            <p class="_redirect"><a href="_sign-in.html">Already have an account? Sign In</a></p>
                        </div>
                    </form>
                </div>
            </section>

        </main>
    
        <!-- Footer -->
        <footer>
            <div class="_container">
                <div>
                    <ul class="_links">
                        <li><a href="javascript:void(0)">Responsible Gaming</a></li>
                        <li><a href="javascript:void(0)">Terms &amp; Conditions</a></li>
                        <li><a href="javascript:void(0)">Cookie Policy</a></li>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li><a href="javascript:void(0)">FAQ's</a></li>
                    </ul>
                </div>
                <hr> <hr>
                <div>
                    <p class="_notice">10 Dollar Predict is working under the 10 Dollar Limited brand and is the provider of this website, licensed by BLCB under the betting and lotteries commision of Europe and America</p>
                </div>
            </div>
        </footer>

    </div>

</body>

<!-- Scripts -->
<script type="text/javascript" src="../assets/js/main.js"></script>

</html>