<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Dollar Predict | Home</title>

    <!-- Public Assets -->
    <!-- Styles -->
    <link rel="stylesheet" href="./../assets/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="./../assets/css/team-logo.css">
    <link rel="stylesheet" type="text/css" href="./../assets/css/dashboard.css">

   
</head>

<body>

    <div id="dashboard">

        <!-- header -->
        <aside class="side-bar">
            <div class="_container">
                <div class="_head">
                    <div class="logo">
                        <a href="../index2.html">
                            <img src="./../assets/img/logo-alt.png" alt="">
                        </a>
                    </div>
                    <div class="_profile">
                        <div class="_profile-img">
                            <img src="./../assets/img/pic1.png" alt="John Omorogbe" loading="lazy">
                            <span class="notification ion-ios-bell"></span>
                        </div>
                        <div class="_profile-details">
                            <h2>John Omorogbe</h2>
                            <span>johnomorogbe@mail.com</span>
                        </div>
                    </div>
                </div>
                <div class="_content">
                    <ul class="_nav">
                        <li><a href="bet-slip.html" class="ion-document-text"><span>Bet Slip</span></a></li>
                        <li class="active"><a href="analytics.html" class="ion-arrow-graph-up-right"><span>Analytics</span></a></li>
                        <li><a href="edit-profile.html" class="ion-edit"><span>Edit Profile</span></a></li>
                        <li><a href="edit-account.html" class="ion-card"><span>Edit Account Details</span></a></li>
                        <li><a href="edit-settings.html" class="ion-gear-a"><span>Settings</span></a></li>
                        <li class="log-out"><a href="../sign-in.html" class="ion-log-out"><span>Sign Out</span></a></li>
                    </ul>
                </div>
            </div>
        </aside>

        <!-- main -->
        <main>
            <header class="sticky">
                <div class="_container">
                    <label for="nav" class="ion-navicon-round"></label>
                    <div class="logo">
                        <img src="./../assets/img/logo-alt.png">
                    </div>
                    <div class="_nav">
                        <input type="checkbox" name="nav" id="nav" hidden>
                        <ul class="_nav-list">
                            <div class="_head">
                                <div class="logo">
                                    <img src="./../assets/img/logo-alt.png">
                                </div>
                                <label for="nav" class="ion-close-round"></label>
                            </div>
                            <li><a href="../recent-punts.html">Recent Punts</a></li>
                            <li><a href="../punters.html">Punters</a></li>
                            <li><a href="../upcoming-games.html">Upcoming Games</a></li>
                            <li><a href="../livescores.html">Live Scores</a></li>
                        </ul>
                        <div class="_profile-btn">
                            <img src="./../assets/img/pic1.png">
                            <span>John Doe</span>
                        </div>
                    </div>
                </div>
            </header>

            <div class="content">
                <div class="_container">
                    <div class="card-container">
                        <div class="card">
                            <div class="_content">
                                <h1 class="amount"><span>$</span>200k</h1>
                            </div>
                            <img src="./../assets/img/Vector.png" class="vector">
                            <div class="_footer">
                                <h3>Total Winnings</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="_content">
                                <h1 class="amount"><span>$</span>100k</h1>
                            </div>
                            <img src="./../assets/img/Vector.png" class="vector">
                            <div class="_footer">
                                <h3>Biggest Win</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="_content">
                                <h1 class="amount"><span>$</span>10k</h1>
                            </div>
                            <img src="./../assets/img/Vector.png" class="vector">
                            <div class="_footer">
                                <h3>Total Bets</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="card-trailer">
                            <div class="_head">
                                <div class="icon">
                                    <span class="ion-cash"></span>
                                </div>
                                <div class="info">
                                    <h1 class="amount"><span>$</span>1,000</h1>
                                    <p>Today's Earnings</p>
                                </div>
                            </div>
                            <div class="_actions">
                                <button class="primary-btn">Withdraw Earnings</button>
                                <button class="secondary-btn">Add Deposit</button>
                            </div>
                        </div>
                    </div>
                    <div class="punts">
                        <div class="_head">
                            <h3>Recent Punts</h3>
                        </div>
                        <div class="_content">
                            <div class="_card">
                                <div class="_head">
                                    <div class="_teams-logos">
                                        <span data-team="arsenal" data-size="30" class="bet"></span>
                                        <span data-team="chelsea" data-size="30"></span>
                                    </div>
                                    <div class="_info">
                                        <div class="_date">
                                            <span>23rd May</span>
                                        </div>
                                        <div class="_odds">
                                            <span>Home Win</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="_content">
                                    <div class="_teams">
                                        <span class="_bet">Arsenal</span>
                                        <span>Chelsea</span>
                                    </div>
                                    <div class="odds">
                                        <span class="_active">1</span>
                                        <span>x</span>
                                        <span>2</span>
                                    </div>
                                </div>
                                <div class="_footer">
                                    <span class="success-tag ion-checkmark"></span>
                                    <div class="league">
                                        <span>Premier League</span>
                                    </div>
                                </div>
                            </div>
                            <div class="_card">
                                <div class="_head">
                                    <div class="_teams-logos">
                                        <span data-team="arsenal" data-size="30" class="bet"></span>
                                        <span data-team="chelsea" data-size="30"></span>
                                    </div>
                                    <div class="_info">
                                        <div class="_date">
                                            <span>23rd May</span>
                                        </div>
                                        <div class="_odds">
                                            <span>Home Win</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="_content">
                                    <div class="_teams">
                                        <span class="_bet">Arsenal</span>
                                        <span>Chelsea</span>
                                    </div>
                                    <div class="odds">
                                        <span class="_active">1</span>
                                        <span>x</span>
                                        <span>2</span>
                                    </div>
                                </div>
                                <div class="_footer">
                                    <span class="success-tag ion-checkmark"></span>
                                    <div class="league">
                                        <span>Premier League</span>
                                    </div>
                                </div>
                            </div>
                            <div class="_card">
                                <div class="_head">
                                    <div class="_teams-logos">
                                        <span data-team="arsenal" data-size="30" class="bet"></span>
                                        <span data-team="chelsea" data-size="30"></span>
                                    </div>
                                    <div class="_info">
                                        <div class="_date">
                                            <span>23rd May</span>
                                        </div>
                                        <div class="_odds">
                                            <span>Home Win</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="_content">
                                    <div class="_teams">
                                        <span class="_bet">Arsenal</span>
                                        <span>Chelsea</span>
                                    </div>
                                    <div class="odds">
                                        <span class="_active">1</span>
                                        <span>x</span>
                                        <span>2</span>
                                    </div>
                                </div>
                                <div class="_footer">
                                    <span class="success-tag ion-checkmark"></span>
                                    <div class="league">
                                        <span>Premier League</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>

</body>

</html>